[data-component="ListItem"]{
    position: relative;
    padding: 12px;
    padding-right: 120px;
    border: 1px solid map-get($grayScale, 'aa');
    border-radius: 4px;

    .info-area{ 
        .top-info, .bottom-info{
            display: inline-flex;
            align-items: center;
            flex-wrap: wrap;
            width: 100%;
            

            [LabelItem]{
                &:not(:last-child){
                    &::after{
                        content:"";
                        display: inline-block;
                        vertical-align: middle;
                        width: 1px;
                        height: 9px;
                        margin: 0 6px;
                        background-color: map-get($grayScale, 'dd');
                    }
                }
                &:last-child{
                    flex: 1;
                    width: 30%;
                }
                
            }
        }
        .title{
            display: flex;
            margin: 8px 0;
            > * { 
                &.label{ text-transform: uppercase; }
                font-size: 18px;
                font-weight: bold;
             }
        }
    }
    .btn-delete{
        position: absolute !important;
        top: 50%;
        right: 12px;
        z-index: 1;
        transform: translateY(-50%);
        border-radius: 8px;

        button{
            width: 80px;
            height: 40px;
            background-color: map-get($indigoNatural, 150);
        }
    }
}