[LabelItem]{
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    >*{ 
        display: inline-block;
        vertical-align: middle;
     }
    .label{
        margin-right: 8px;
        font-size: 14px;
        color: map-get($grayScale, '99');
    }
    .value{
        flex: 1;
        font-size: 14px;
        overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
    }
}